In [56]:
import pandas as pd
from sklearn.ensemble import VotingClassifier 
import numpy as np

In [57]:
t1=pd.read_csv("train.csv")

In [58]:
from datetime import datetime
def changeformat(y):
    x=datetime.strptime(y, '%Y-%m-%d %H:%M:%S').strftime('%Y-%m-%d')
    return x
t1['issue_date']=t1['issue_date'].apply(lambda x : changeformat(x))
t1['listing_date']=t1['listing_date'].apply(lambda x: changeformat(x))


t1.head()

,pet_id,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2,breed_category,pet_category
0,ANSL_69903,2016-07-10,2016-09-21,2.0,Brown Tabby,0.80,7.78,13,9,0.0,1
1,ANSL_66892,2013-11-21,2018-12-27,1.0,White,0.72,14.19,13,9,0.0,2
2,ANSL_69750,2014-09-28,2016-10-19,NaN,Brown,0.15,40.90,15,4,2.0,4
3,ANSL_71623,2016-12-31,2019-01-25,1.0,White,0.62,17.82,0,1,0.0,2
4,ANSL_57969,2017-09-28,2017-11-19,2.0,Black,0.50,11.06,18,4,0.0,1

In [59]:
from datetime import date
t1['date'] = pd.to_datetime(t1['issue_date'])
t1['date1']=pd.to_datetime(t1['listing_date'])

In [60]:
t1['lyear']=pd.DatetimeIndex(t1['date1']).year
t1['year']=pd.DatetimeIndex(t1['date']).year
t1['lmonth']=pd.DatetimeIndex(t1['date1']).month
t1['month']=pd.DatetimeIndex(t1['date']).month
t1['lday']=pd.DatetimeIndex(t1['date1']).day
t1['day']=pd.DatetimeIndex(t1['date']).day

In [61]:
import datetime 
import calendar 
  
def findDay(date): 
    born = datetime.datetime.strptime((date), '%Y-%m-%d').weekday() 
    return (calendar.day_name[born])

In [62]:
t1['weekend']=t1['issue_date'].apply(lambda x: findDay(x))
t1['lweekend']=t1['listing_date'].apply(lambda x : findDay(x))

def check(day):
    days=['Sunday','Saturday']
    if day in days:
        return 1
    else:
        return 0
t1['weekend']=t1['weekend'].apply(lambda x: check(x))
t1['lweekend']=t1['lweekend'].apply(lambda x : check(x))

In [63]:
def changecolor(i):
    m1=['Brown','Black','Tricolor','Calico','Blue','Tortie', 'Gray','Torbie','Sable', 'Chocolate','Green','Buff','Red','Tan', 'Orange','Gold', 
      'Apricot','Liver', 'Agouti','Yellow', 'Pink','White', 'Fawn','Cream', 'Silver',]
    m2=['Brown Tabby','Brown Brindle','Blue Tick','Blue Tabby', 'Black Tabby','Orange Tabby', 'Red Merle', 'Yellow Brindle','Red Tick',  'Liver Tick',
       'Black Brindle','Calico Point','Blue Merle', 'Blue Tiger','Seal Point',  'Brown Merle', 'Black Smoke',
       'Gray Tabby', 'Tortie Point', 'Blue Smoke', 'Blue Point', 'Brown Tiger','Chocolate Point','Cream Tabby','Lynx Point', 'Blue Cream',
       'Flame Point', 'Silver Tabby','Lilac Point','Silver Lynx Point']
    if i in m1:
        return 1
    else:
        return 0
t1['color']=t1['color_type'].apply(lambda x : changecolor(x))

In [64]:
t1['condition'].fillna(-1,inplace=True)

In [65]:
def changecol(i):
    black=['Brown Tabby', 'White', 'Brown', 'Black', 'Red','Brown Tiger', 'Liver', 'Agouti', 'Chocolate Point', 'Liver Tick',
       'Pink', 'Black Tiger', 'Silver Lynx Point', 'Lilac Point', 'Silver', 'Silver Tabby']
    red=[ 'Tricolor',
       'Calico', 'Brown Brindle', 'Blue', 'Tortie', 'Gray', 'Fawn',
       'Buff', 'Torbie', 'Orange Tabby', 'Sable', 'Tan', 'Blue Tick',
       'Orange', 'Blue Tabby', 'Chocolate']
    white=['Black Tabby',
       'Black Brindle', 'Cream Tabby', 'Gold', 'Calico Point',
       'Blue Merle', 'Red Merle', 'Yellow', 'Lynx Point', 'Blue Cream',
       'Flame Point', 'Cream', 'Yellow Brindle', 'Blue Tiger',
       'Seal Point', 'Red Tick', 'Brown Merle', 'Black Smoke',
       'Gray Tabby', 'Green', 'Tortie Point', 'Blue Smoke', 'Apricot',
       'Blue Point']
    if i in black:
        return 2
    if i in red:
        return 1
    if i in white:
        return 0
    
t1['color_type']=t1['color_type'].apply(lambda x : changecol(x))

In [66]:
d1=t1.color_type[t1['breed_category']==1].unique()
d2=t1.color_type[t1['breed_category']==2].unique()
d3=t1.color_type[t1['breed_category']==0].unique()
len(d3)
d4=[]
for i in d1:
    if i not in d3:
        d4.append(i)
d5=[]
for i in d3:
    if i not in  d2:
        d5.append(i)
p1=t1.color_type[t1['pet_category']==1].unique()
p4=t1.color_type[t1['pet_category']==4].unique()
p2=t1.color_type[t1['pet_category']==2].unique()
p0=t1.color_type[t1['pet_category']==0].unique()
len(p1)
p5=[]
for i in p2:
    if i not in p1:
        p5.append(i)
len(p5)
p6=[]
for i in p1:
    if i not in p4:
        p6.append(i)
p7=[]
for i in p2:
    if i not in p4:
        p7.append(i)
p8=[]
for i in p1:
    if i not in p0:
        p8.append(i)

def E11(x):
    if x in p0:
        return 1
    else:
        return 0
def E12(x):
    if x in p5:
        return 1
    else:
        return 0
def E13(x):
    if x in p6:
        return 1
    else:
        return 0
def E15(x):
    if x in p7:
        return 1
    else:
        return 0
def E16(x):
    if x in p1:
        return 1
    else:
        return 0
def D11(x):
    if x in d4:
        return 1
    else:
        return 0
def D12(x):
    if x in d5:
        return 1
    else:
        return 0
def E14(x):
    if x in p4:
        return 1
    else:
        return 0
def D13(x):
    if x in d2:
        return 1
    else:
        return 0
def E18(x):
    if x in p8:
        return 1
    else:
        return 0

In [67]:
#t1['E1']=t1['color_type'].apply(lambda x : E11(x))
t1['E2']=t1['color_type'].apply(lambda x: E12(x))
t1['E3']=t1['color_type'].apply(lambda x: E13(x))
#t1['E4']=t1['color_type'].apply(lambda x:E14(x))
#t1['E5']=t1['color_type'].apply(lambda x:E15(x))
#t1['E6']=t1['color_type'].apply(lambda x: E16(x))
#t1['E8']=t1['color_type'].apply(lambda x: E18(x))
#t1['D1']=t1['color_type'].apply(lambda x: D11(x))
#t1['D2']=t1['color_type'].apply(lambda x: D12(x))
#t1['D3']=t1['color_type'].apply(lambda x: D13(x))

In [68]:
df=t1.drop(['pet_id', 'issue_date', 'listing_date',
       'date', 'date1'],axis=1)

In [69]:
df.head()

,condition,color_type,length(m),height(cm),X1,X2,breed_category,pet_category,lyear,year,lmonth,month,lday,day,weekend,lweekend,color,E2,E3
0,2.0,2,0.80,7.78,13,9,0.0,1,2016,2016,9,7,21,10,1,0,0,0,0
1,1.0,2,0.72,14.19,13,9,0.0,2,2018,2013,12,11,27,21,0,0,1,0,0
2,-1.0,2,0.15,40.90,15,4,2.0,4,2016,2014,10,9,19,28,1,0,1,0,0
3,1.0,2,0.62,17.82,0,1,0.0,2,2019,2016,1,12,25,31,1,0,1,0,0
4,2.0,2,0.50,11.06,18,4,0.0,1,2017,2017,11,9,19,28,0,1,1,0,0

In [70]:
df.head()

,condition,color_type,length(m),height(cm),X1,X2,breed_category,pet_category,lyear,year,lmonth,month,lday,day,weekend,lweekend,color,E2,E3
0,2.0,2,0.80,7.78,13,9,0.0,1,2016,2016,9,7,21,10,1,0,0,0,0
1,1.0,2,0.72,14.19,13,9,0.0,2,2018,2013,12,11,27,21,0,0,1,0,0
2,-1.0,2,0.15,40.90,15,4,2.0,4,2016,2014,10,9,19,28,1,0,1,0,0
3,1.0,2,0.62,17.82,0,1,0.0,2,2019,2016,1,12,25,31,1,0,1,0,0
4,2.0,2,0.50,11.06,18,4,0.0,1,2017,2017,11,9,19,28,0,1,1,0,0

In [89]:
X=df.drop(['breed_category','pet_category','weekend','lday','day','month','lweekend','year','lmonth'],axis=1)
y=df['breed_category']
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,f1_score

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [90]:
from sklearn.ensemble import RandomForestClassifier
from xgboost.sklearn import XGBClassifier

In [91]:
clf_rf2 = RandomForestClassifier(
    max_depth=12, 
    random_state=42,
    n_estimators=500,
    n_jobs=10000, criterion = 'entropy'
    
)

clf_rf2.fit(X_train, y_train)
y_pred = clf_rf2.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 90.02%

In [92]:
X.columns

Index(['condition', 'color_type', 'length(m)', 'height(cm)', 'X1', 'X2',
       'lyear', 'color', 'E2', 'E3'],
      dtype='object')

In [93]:
clf_rf2.fit(X,y)

RandomForestClassifier(criterion='entropy', max_depth=12, n_estimators=500,
                       n_jobs=10000, random_state=42)

In [94]:
z=pd.read_csv('test.csv')

In [95]:
from datetime import datetime
z['issue_date']=z['issue_date'].apply(lambda x : changeformat(x))
z['listing_date']=z['listing_date'].apply(lambda x: changeformat(x))


z.head()
z['condition'].fillna(-1,inplace=True)
from datetime import date
z['date'] = pd.to_datetime(z['issue_date'])
z['date1']=pd.to_datetime(z['listing_date'])
z['lyear']=pd.DatetimeIndex(z['date1']).year
z['year']=pd.DatetimeIndex(z['date']).year
z['lmonth']=pd.DatetimeIndex(z['date1']).month
z['month']=pd.DatetimeIndex(z['date']).month
z['lday']=pd.DatetimeIndex(z['date1']).day
z['day']=pd.DatetimeIndex(z['date']).day
import datetime 
z['weekend']=z['issue_date'].apply(lambda x: findDay(x))
z['lweekend']=z['listing_date'].apply(lambda x : findDay(x))
z['weekend']=z['weekend'].apply(lambda x: check(x))
z['lweekend']=z['lweekend'].apply(lambda x : check(x))
z['E2']=z['color_type'].apply(lambda x: E12(x))
z['E3']=z['color_type'].apply(lambda x: E13(x))

In [96]:
r=[]
for i in range(z.shape[0]):
    if z['condition'][i] == -1:
        r.append(z['pet_id'][i])

In [97]:
z.head()
z['color']=z['color_type'].apply(lambda x : changecolor(x))
z['color_type']=z['color_type'].apply(lambda x : changecol(x))

In [98]:
tes=z.drop(['pet_id', 'issue_date', 'listing_date',
       'date', 'date1'],axis=1)

In [99]:
tes.columns

Index(['condition', 'color_type', 'length(m)', 'height(cm)', 'X1', 'X2',
       'lyear', 'year', 'lmonth', 'month', 'lday', 'day', 'weekend',
       'lweekend', 'E2', 'E3', 'color'],
      dtype='object')

In [100]:
X.columns

Index(['condition', 'color_type', 'length(m)', 'height(cm)', 'X1', 'X2',
       'lyear', 'color', 'E2', 'E3'],
      dtype='object')

In [101]:
pred1=tes.drop(['weekend','lday','day','month','lweekend','year','lmonth'],axis=1)
pred=pred1.reindex(columns=['condition', 'color_type', 'length(m)', 'height(cm)', 'X1', 'X2',
       'lyear', 'color', 'E2', 'E3'
       ])

In [102]:
tes['breed_category']=clf_rf2.predict(pred)

In [103]:
tes['pet_id']=z['pet_id']
for i in range(tes.shape[0]):
    if tes['pet_id'][i] in r:
        tes['breed_category'][i]=2

C:\Users\Niraj\Anaconda3\envs\tensorenviron\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [104]:
tes.to_csv("breed1.csv",index=False)

In [105]:
import pandas as pd
import numpy as np

In [106]:
t1=pd.read_csv("train.csv")

In [107]:
from datetime import datetime
def changeformat(y):
    x=datetime.strptime(y, '%Y-%m-%d %H:%M:%S').strftime('%Y-%m-%d')
    return x
t1['issue_date']=t1['issue_date'].apply(lambda x : changeformat(x))
t1['listing_date']=t1['listing_date'].apply(lambda x: changeformat(x))


t1.head()

,pet_id,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2,breed_category,pet_category
0,ANSL_69903,2016-07-10,2016-09-21,2.0,Brown Tabby,0.80,7.78,13,9,0.0,1
1,ANSL_66892,2013-11-21,2018-12-27,1.0,White,0.72,14.19,13,9,0.0,2
2,ANSL_69750,2014-09-28,2016-10-19,NaN,Brown,0.15,40.90,15,4,2.0,4
3,ANSL_71623,2016-12-31,2019-01-25,1.0,White,0.62,17.82,0,1,0.0,2
4,ANSL_57969,2017-09-28,2017-11-19,2.0,Black,0.50,11.06,18,4,0.0,1

In [108]:
from datetime import date
t1['date'] = pd.to_datetime(t1['issue_date'])
t1['date1']=pd.to_datetime(t1['listing_date'])

In [109]:
t1['lyear']=pd.DatetimeIndex(t1['date1']).year
t1['year']=pd.DatetimeIndex(t1['date']).year
t1['lmonth']=pd.DatetimeIndex(t1['date1']).month
t1['month']=pd.DatetimeIndex(t1['date']).month
t1['lday']=pd.DatetimeIndex(t1['date1']).day
t1['day']=pd.DatetimeIndex(t1['date']).day

In [110]:
import datetime 
import calendar 
  
def findDay(date): 
    born = datetime.datetime.strptime((date), '%Y-%m-%d').weekday() 
    return (calendar.day_name[born])
t1['weekend']=t1['issue_date'].apply(lambda x: findDay(x))
t1['lweekend']=t1['listing_date'].apply(lambda x : findDay(x))

In [111]:
t1['weekend']=t1['issue_date'].apply(lambda x: findDay(x))
t1['lweekend']=t1['listing_date'].apply(lambda x : findDay(x))

def check(day):
    days=['Sunday','Saturday']
    if day in days:
        return 1
    else:
        return 0
t1['weekend']=t1['weekend'].apply(lambda x: check(x))
t1['lweekend']=t1['lweekend'].apply(lambda x : check(x))

In [112]:
def changecolor(i):
    m1=['Brown','Black','Tricolor','Calico','Blue','Tortie', 'Gray','Torbie','Sable', 'Chocolate','Green','Buff','Red','Tan', 'Orange','Gold', 
      'Apricot','Liver', 'Agouti','Yellow', 'Pink','White', 'Fawn','Cream', 'Silver',]
    m2=['Brown Tabby','Brown Brindle','Blue Tick','Blue Tabby', 'Black Tabby','Orange Tabby', 'Red Merle', 'Yellow Brindle','Red Tick',  'Liver Tick',
       'Black Brindle','Calico Point','Blue Merle', 'Blue Tiger','Seal Point',  'Brown Merle', 'Black Smoke',
       'Gray Tabby', 'Tortie Point', 'Blue Smoke', 'Blue Point', 'Brown Tiger','Chocolate Point','Cream Tabby','Lynx Point', 'Blue Cream',
       'Flame Point', 'Silver Tabby','Lilac Point','Silver Lynx Point']
    if i in m1:
        return 1
    else:
        return 0
t1['color']=t1['color_type'].apply(lambda x : changecolor(x))

In [113]:
d1=t1.color_type[t1['breed_category']==1].unique()
d2=t1.color_type[t1['breed_category']==2].unique()
d3=t1.color_type[t1['breed_category']==0].unique()
len(d3)
d4=[]
for i in d1:
    if i not in d3:
        d4.append(i)
d5=[]
for i in d3:
    if i not in  d2:
        d5.append(i)
p1=t1.color_type[t1['pet_category']==1].unique()
p4=t1.color_type[t1['pet_category']==4].unique()
p2=t1.color_type[t1['pet_category']==2].unique()
p0=t1.color_type[t1['pet_category']==0].unique()
len(p1)
p5=[]
for i in p2:
    if i not in p1:
        p5.append(i)
len(p5)
p6=[]
for i in p1:
    if i not in p4:
        p6.append(i)
p7=[]
for i in p2:
    if i not in p4:
        p7.append(i)
p8=[]
for i in p1:
    if i not in p0:
        p8.append(i)

In [114]:
def E11(x):
    if x in p0:
        return 1
    else:
        return 0
def E12(x):
    if x in p5:
        return 1
    else:
        return 0
def E13(x):
    if x in p6:
        return 1
    else:
        return 0
def E15(x):
    if x in p7:
        return 1
    else:
        return 0
def E16(x):
    if x in p1:
        return 1
    else:
        return 0
def D11(x):
    if x in d4:
        return 1
    else:
        return 0
def D12(x):
    if x in d5:
        return 1
    else:
        return 0
def E14(x):
    if x in p4:
        return 1
    else:
        return 0
def D13(x):
    if x in d2:
        return 1
    else:
        return 0
def E18(x):
    if x in p8:
        return 1
    else:
        return 0

In [115]:
t1['E1']=t1['color_type'].apply(lambda x : E11(x))
t1['E2']=t1['color_type'].apply(lambda x: E12(x))
t1['E3']=t1['color_type'].apply(lambda x: E13(x))
t1['E4']=t1['color_type'].apply(lambda x:E14(x))
t1['E5']=t1['color_type'].apply(lambda x:E15(x))
t1['E6']=t1['color_type'].apply(lambda x: E16(x))
#t1['E8']=t1['color_type'].apply(lambda x: E18(x))
t1['D1']=t1['color_type'].apply(lambda x: D11(x))
t1['D2']=t1['color_type'].apply(lambda x: D12(x))
t1['D3']=t1['color_type'].apply(lambda x: D13(x))

In [116]:
brown=['Brown','Brown Brindle','Sable','Chocolate', 'Black Tabby','Black Brindle','Black', 'Brown Merle', 'Black Smoke',
       'Lilac Point','Liver','Chocolate Point', 'Liver Tick']
mixed=[ 'Calico', 'Tortie', 'Torbie','Calico Point','Lynx Point', 'Blue Cream','Blue Tiger',
       'Seal Point','Tortie Point', 'Agouti' ]
red=['Brown Tabby','Red', 'Tricolor','Buff','Gold','Apricot',
     'Red Merle', 'Yellow Brindle', 'Yellow','Pink','Red Tick','Flame Point',  'Orange','Orange Tabby','Tan']

grey=['Blue','Gray','Blue Tick', 'Blue Tabby','Blue Merle',  'Gray Tabby', 'Green', 'Blue Smoke','Blue Point', 'Silver Tabby',
     'Silver','Silver Lynx Point']
hard=['Brown','White','Black','Black Tabby','Brown Tabby']
Extra=['Brown','Brown Brindle','Sable','Chocolate', 'Black Tabby','Black Brindle','Black', 'Brown Merle', 'Black Smoke',
      'Brown Tabby','Yellow','Flame Point',  'Orange','Orange Tabby','Tan','White','Fawn','Cream Tabby','Cream','Blue Tabby','Blue Merle',
      ]
def blacky(i):
    if i in brown:
        return 1
    else :
        return 0
def extras(i):
    if i in Extra:
        return 1
    else: 
        return 0
def mixedy(i):
    if i in mixed:
        return 1
    else :
        return 0
def redy(i):
    if i in red:
        return 1
    else :
        return 0

def greyy(i):
    if i in grey:
        return 1
    else :
        return 0
def hardd(i):
    if i in hard:
        return 1
    else:
        return 0
t1['Extra']=t1['color_type'].apply(lambda x : extras(x))
t1['Hard']=t1['color_type'].apply(lambda x: hardd(x))
t1['black']=t1['color_type'].apply(lambda x: blacky(x))
t1['mix']=t1['color_type'].apply(lambda x: mixedy(x))
t1['red']=t1['color_type'].apply(lambda x: redy(x))

t1['grey']=t1['color_type'].apply(lambda x: greyy(x))

In [117]:
def changecol(i):
    black=['Brown Tabby', 'White', 'Brown', 'Black', 'Red','Brown Tiger', 'Liver', 'Agouti', 'Chocolate Point', 'Liver Tick',
       'Pink', 'Black Tiger', 'Silver Lynx Point', 'Lilac Point', 'Silver', 'Silver Tabby']
    red=[ 'Tricolor',
       'Calico', 'Brown Brindle', 'Blue', 'Tortie', 'Gray', 'Fawn',
       'Buff', 'Torbie', 'Orange Tabby', 'Sable', 'Tan', 'Blue Tick',
       'Orange', 'Blue Tabby', 'Chocolate']
    white=['Black Tabby',
       'Black Brindle', 'Cream Tabby', 'Gold', 'Calico Point',
       'Blue Merle', 'Red Merle', 'Yellow', 'Lynx Point', 'Blue Cream',
       'Flame Point', 'Cream', 'Yellow Brindle', 'Blue Tiger',
       'Seal Point', 'Red Tick', 'Brown Merle', 'Black Smoke',
       'Gray Tabby', 'Green', 'Tortie Point', 'Blue Smoke', 'Apricot',
       'Blue Point']
    if i in black:
        return 2
    if i in red:
        return 1
    if i in white:
        return 0
    
t1['color_type']=t1['color_type'].apply(lambda x : changecol(x))

In [118]:
df=t1.drop(['pet_id', 'issue_date', 'listing_date',
       'date', 'date1'],axis=1)

In [119]:
df.head()
def seas(i):
    if i>=3 and i<=8:
        return 0
    else:
        return 1
df['Season']=df['lmonth'].apply(lambda x :seas(x))

In [120]:
df['yeardif']=df['lyear']-df['year']
df['monthdif']=abs(df['lmonth']-df['month'])
def mon(i):
    if i>=6:
        return 1
    else:
        return 0
df['monthdif']=df['monthdif'].apply(lambda x : mon(x))

In [121]:
def year(i):
    if i>2.0:
        return 1
    else :
        return 0
df['yeardiff']=df['yeardif'].apply(lambda x : year(x))
def x1(i):
    if i>13 or i==0 or i==13:
        return 1
    else:
        return 0
df["X3"]=df['X1'].apply(lambda x : x1(x))
def leng(i):
    if i<0.3 :
        return 1
    elif i>=0.3 and i<=0.65:
        return 2
    else:
        return 0
df['length(m)']=df['length(m)'].apply(lambda x: leng(x))

In [122]:
from sklearn.impute import SimpleImputer 
  
# Imputer object using the mean strategy and  
# missing_values type for imputation 
imputer = SimpleImputer(missing_values = np.nan,  
                        strategy ='median')
c=df.columns

In [123]:
imputer = imputer.fit(df) 
data = imputer.transform(df)

In [124]:
train=pd.DataFrame(data,columns=c)

In [125]:
train.isnull().sum()

condition         0
color_type        0
length(m)         0
height(cm)        0
X1                0
X2                0
breed_category    0
pet_category      0
lyear             0
year              0
lmonth            0
month             0
lday              0
day               0
weekend           0
lweekend          0
color             0
E1                0
E2                0
E3                0
E4                0
E5                0
E6                0
D1                0
D2                0
D3                0
Extra             0
Hard              0
black             0
mix               0
red               0
grey              0
Season            0
yeardif           0
monthdif          0
yeardiff          0
X3                0
dtype: int64

In [140]:
X=train.drop(['pet_category','height(cm)','weekend','lweekend','Hard','grey','E6'
             ],axis=1)
y=train['pet_category']
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score,f1_score

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [141]:
from sklearn.ensemble import RandomForestClassifier

clf_rf = RandomForestClassifier(
    max_depth=10, 
    random_state=42,
    n_estimators=500,
    n_jobs=10000, criterion = 'entropy'
    
)

clf_rf.fit(X_train, y_train)
y_pred = clf_rf.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 88.80%

In [142]:
from xgboost.sklearn import XGBClassifier
xbg=XGBClassifier(n_estimators=100,max_depth=8,n_jobs=10)
xbg.fit(X_train,y_train)
y_pred = xbg.predict(X_test)

accuracy = accuracy_score(y_test, y_pred)
print("Accuracy: %.2f%%" % (accuracy * 100.0))

Accuracy: 90.15%

In [143]:
xbg.fit(X,y)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0, gpu_id=-1,
              importance_type='gain', interaction_constraints='',
              learning_rate=0.300000012, max_delta_step=0, max_depth=8,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=10, num_parallel_tree=1,
              objective='multi:softprob', random_state=0, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=None, subsample=1,
              tree_method='exact', validate_parameters=1, verbosity=None)

In [144]:
X.columns

Index(['condition', 'color_type', 'length(m)', 'X1', 'X2', 'breed_category',
       'lyear', 'year', 'lmonth', 'month', 'lday', 'day', 'color', 'E1', 'E2',
       'E3', 'E4', 'E5', 'D1', 'D2', 'D3', 'Extra', 'black', 'mix', 'red',
       'Season', 'yeardif', 'monthdif', 'yeardiff', 'X3'],
      dtype='object')

In [145]:
z=pd.read_csv('test.csv')

In [146]:
from datetime import datetime
z['issue_date']=z['issue_date'].apply(lambda x : changeformat(x))
z['listing_date']=z['listing_date'].apply(lambda x: changeformat(x))
from datetime import date
z['date'] = pd.to_datetime(z['issue_date'])
z['date1']=pd.to_datetime(z['listing_date'])
z['lyear']=pd.DatetimeIndex(z['date1']).year
z['year']=pd.DatetimeIndex(z['date']).year
z['lmonth']=pd.DatetimeIndex(z['date1']).month
z['month']=pd.DatetimeIndex(z['date']).month
z['lday']=pd.DatetimeIndex(z['date1']).day
z['day']=pd.DatetimeIndex(z['date']).day
import datetime 
z['weekend']=z['issue_date'].apply(lambda x: findDay(x))
z['lweekend']=z['listing_date'].apply(lambda x : findDay(x))
z['weekend']=z['weekend'].apply(lambda x: check(x))
z['lweekend']=z['lweekend'].apply(lambda x : check(x))
z['E1']=z['color_type'].apply(lambda x : E11(x))
z['E2']=z['color_type'].apply(lambda x: E12(x))
z['E3']=z['color_type'].apply(lambda x: E13(x))
z['E4']=z['color_type'].apply(lambda x:E14(x))
z['E6']=z['color_type'].apply(lambda x: E16(x))
z['D3']=z['color_type'].apply(lambda x: D13(x))
z['D1']=z['color_type'].apply(lambda x: D11(x))
z['D2']=z['color_type'].apply(lambda x: D12(x))
z['E5']=z['color_type'].apply(lambda x:E15(x))
z['Season']=z['lmonth'].apply(lambda x :seas(x))
z['yeardif']=z['lyear']-z['year']
z['monthdif']=abs(z['lmonth']-z['month'])
z['yeardiff']=z['yeardif'].apply(lambda x : year(x))
z['monthdif']=z['monthdif'].apply(lambda x : year(x))
z['Extra']=z['color_type'].apply(lambda x : extras(x))
z['Hard']=z['color_type'].apply(lambda x: hardd(x))
z['black']=z['color_type'].apply(lambda x: blacky(x))
z['mix']=z['color_type'].apply(lambda x: mixedy(x))
z['red']=z['color_type'].apply(lambda x: redy(x))
z['X3']=z['X1'].apply(lambda x: x1(x))
z['grey']=z['color_type'].apply(lambda x: greyy(x))
z['length(m)']=z['length(m)'].apply(lambda x: leng(x))

In [147]:
b=pd.read_csv('breed1.csv')

In [148]:
z['breed_category']=b['breed_category']

In [149]:
tes=z.drop(['pet_id', 'issue_date', 'listing_date',
       'date', 'date1'],axis=1)

In [150]:
tes=tes.drop(['height(cm)','weekend','lweekend','Hard','grey','E6'],axis=1)

In [151]:
tes['color']=tes['color_type'].apply(lambda x : changecolor(x))
tes['color_type']=tes['color_type'].apply(lambda x : changecol(x))

In [152]:
d=tes.columns

In [153]:
imputer = imputer.fit(tes) 
test=imputer.transform(tes)

In [154]:
test=pd.DataFrame(test,columns=d)

In [155]:
test=test.reindex(columns=[ 'condition', 'color_type', 'length(m)', 'X1', 'X2', 'breed_category',
       'lyear', 'year', 'lmonth', 'month', 'lday', 'day', 'color', 'E1', 'E2',
       'E3', 'E4', 'E5', 'D1', 'D2', 'D3', 'Extra', 'black', 'mix', 'red',
       'Season', 'yeardif', 'monthdif', 'yeardiff', 'X3'])

In [156]:
pred=xbg.predict(test)

In [157]:
check=pd.DataFrame()

In [158]:
check['pet_id']=z['pet_id']
check['breed_category']=test['breed_category']
check['pet_category']=pred
check.to_csv("finaly.csv",index=False)